<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP FS FRONT</title>
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>

    <main>
        <%- include(body)%>
    </main>
</body>
</html>