<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h3 class="center-align">Login</h3>
            <form id="loginForm" action="/login" method="POST">
                <div class="input-field">
                    <input id="username" type="text" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <div class="center-align">
                    <button type="submit" class="btn waves-effect waves-light">Login</button><br>
                    <%if(error){%>
                        <span>
                            <%=error.error%>
                        </span>
                        <%}%>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        M.updateTextFields();
    });

    document.getElementById('loginForm').addEventListener('submit', function (event) {
        var username = document.getElementById('login').value;
        var password = document.getElementById('senha').value;

        if (!username || !password) {
            event.preventDefault();
            M.toast({ html: 'Por favor, preencha todos os campos', classes: 'red' })
        }
    });

</script>