<nav class="white" role="navigation">
  <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Onda Tec</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
          <li><a href="/users"><i class="material-icons left">person</i>Usuarios</a></li>
          <li><a href="/pets"><i class="material-icons left">pets</i>Pets</a></li>
          <li><a href="/aluno"><i class="material-icons left">school</i>Alunos</a></li>
          <li><a href="/professores"><i class="material-icons left">book</i>Professores</a></li>
          <li><a href="/login"><i class="material-icons left">login</i>Login</a></li>
          <li><a href="/logout"><i class="material-icons left">lock</i>Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
          <li>
              <div class="user-view">
                  <div class="background">
                      <img src="images/ondatec.png">
                  </div>
                  <a href="#user"><img class="circle" src="images/ondatec.png"></a>
                  <a href="#name"><span class="white-text name">Onda Tec</span></a>
                  <a href="#email"><span class="white-text email">ondatec@gmail.com</span></a>
              </div>
          </li>
          <li><a href="/"><i class="material-icons">home</i>Home</a></li>
          <li><a href="/users"><i class="material-icons">person</i>Usuarios</a></li>
          <li><a href="/pets"><i class="material-icons">pets</i>Pets</a></li>
          <li><a href="/login"><i class="material-icons left">login</i>Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
